:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --yellow: rgb(255, 192, 28);

  --primary100: hsl(331, 99%, 86%);
  --primary300: hsl(331, 77%, 79%); /* f3a0c8*/
  --primary500: hsl(331, 57%, 59%); /* d25b94 */
  --primary700: hsl(331, 69%, 50%); /* d7287d */
  --primary900: hsl(331, 57%, 30%);

  --gray100: hsla(331, 6%, 91%, 1);
  --gray300: hsla(331, 6%, 35%, 1);
  --gray500: hsla(331, 0%, 35%, 1);
  --gray700: hsla(331, 1%, 34%, 1);
  --gray900: hsla(331, 1%, 23%, 1);

  --secondary300: hsla(121, 29%, 57%, 1); /* #72b173 */
  --secondary500: hsla(121, 48%, 57%, 1);
  --secondary900: hsla(121, 48%, 18%, 1);
}
* {
  box-sizing: border-box;
}

p {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
  display: inline-block;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
/* but not the ones from prism/syntax highlighting plugin */
.tag:not(.token) {
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--yellow);
  color: var(--navy);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  background-color: var(--yellow);
  color: var(--navy);
}
.tagslist {
  margin-bottom: 0.8em;
  padding: 6px 8px;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: var(--lightgray);
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--gray);
}

.center-block {
  margin: auto auto;
  display: block;
}

.test-blocks div {
  height: 50px;
  width: 50px;
  display: inline-block;
}

/* for testing colors */
.c100 {
  background-color: var(--primary100);
}
.c300 {
  background-color: var(--primary300);
}
.c500 {
  background-color: var(--primary500);
}

.c700 {
  background-color: var(--primary700);
}
.c900 {
  background-color: var(--primary900);
}

.gray100 {
  background-color: var(--gray100);
}
.gray300 {
  background-color: var(--gray300);
}

.gray500 {
  background-color: var(--gray500);
}

.gray700 {
  background-color: var(--gray700);
}

.gray900 {
  background-color: var(--gray900);
}

.green300 {
  background-color: var(--secondary300);
}

.green500 {
  background-color: var(--secondary500);
}

.green900 {
  background-color: var(--secondary900);
}
