_site/
node_modules/
report*
.DS_Store
.env
# Local Netlify folder
.netlify
.cache
.netlify_cache
_cache
.obsidian/workspace.json
posts/.obsidian/workspace.json

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
