---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>Latest 10 Posts</h1>

{% set postslist = collections.posts | head(-10) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
