{% if tilTags.length > 0 %}
<div class="flex-row post-tagslist">
  <span>See more posts tagged:</span>

  <ul class="flex-row">
  {% for tag in tilTags %}
    {% if tag != "posts" %}
      {% set tagUrl %}/til/tags/{{ tag }}/{% endset %}
      <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}