body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

  padding: $spacing-unit 0;
}
/**
 * Site header
 */
.site-header {
  border-bottom: 8px solid var(--gray300);
  min-height: 56px;

  background-color: var(--gray100);

  h1 {
    margin: 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    @media screen and (max-width: $on-laptop) {
      display: grid;
      grid-template-columns: max-content 1fr;
      margin: 0;
      max-width: unset;
      width: 100%;
    }

    @media screen and (max-width: 1028px) {
      width: calc(100vw - 16px);
      padding-right:8px;
      padding-left: 8px;
    }

  }
}

#nav-toggle {
  @media screen and (min-width: $on-laptop + 1) {
    display: none;
  }

  --nav-toggle: var(--gray700);
  all: unset;
  cursor: pointer;

  padding-top: 8px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  &:focus, &:hover, &:active {
    --nav-toggle: var(--secondary500);
  }
}
.nav {
  @media screen and (max-width: $on-laptop) {
    display: none;
  }
}

.nav.visible {
  display: block !important;
}


.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 500;
}

.site-nav {
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    float: unset;
    
    > div {
      max-width: calc(100vw-16px);
      padding-left: 8px;
      padding-right: 8px;
    }
    .nav-item {
      display: block;
      text-align: left;
    }

  }
}

/**
 * Site footer
 */
.site-footer {
  margin-bottom: $spacing-unit;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  display: flex;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}
.footer-col-wrapper div:first-child {
  margin-right: 30px;
}
.footer-col-wrapper > p {
  display: inline-block;
  max-width: 384px;
}

.social-media-list {
  min-width: max-content;
}


/**
 * Page content
 */

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: var(--gray300);
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-date {
  font-size: 18px;
  color: var(--gray300);
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

#sidebar {
  align-self: flex-start;
  min-width: 250px;

  @include media-query($on-palm) {
    width: 100%;
    padding-right: 10px;
    min-width: unset;
  }
}
