@import "_helpers.scss";

.center-child {
  @extend .flex-center;

  a {
    @extend .flex-center;
  }
}

.image-and-label {
  @extend .flex-center;
  flex-direction: column;
  justify-content: space-around;
}

.two-image-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
}

.username {
  padding-left: 10px;
}

.pagination .previous {
  margin-right: 15px;
}

.casseygram-hub {
  display: grid;
  grid-template-columns: 50% 50%;

  @include media-query($on-palm) {
    display: flex;
    flex-direction: column;
  }
}
.casseygram-entry {
  list-style: none;
  display: inline-block;
}
.casseygram-entry p {
  display: inline-block;
}

.photo-nav {
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
  }
}
