@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", sans-serif;
$special-font-family: "Nunito", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$big-font-size: 24px;
$base-line-height: 1.5;

$spacing-unit: 30px;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "page", "home", "poems", "webmentions";
