---
pagination:
  data: collections.tilTags
  size: 1
  alias: category
layout: layouts/base.njk
renderData:
  title: Tagged “{{ category }}”
permalink: /til/tags/{{ category }}/
---
<h1>Tagged “{{ category }}”</h1>

{% set postslist = collections.til | include("data.tilTags", category) %}
{% include "postslist.njk" %}


{% set postslist = collections[ category ] %}
{% if postslist | length %}
  You're looking at my "Today I Learned" blog, a collection of shorter pieces on things I learned, as I learn them. Here are some longer, more polished posts from my regular blog that match this tag:
  {% include "postslist.njk" %}
{% endif %}

<p>See <a href="{{ '/til/tags/' | url }}">all TIL tags</a>.</p>
