---
permalink: /til/tags/
layout: layouts/page.njk
title: Today I Learned Tags
---
<ul id="tagsContainer">
  {% for tag in collections.tilTags %}
  {% set tagUrl %}/til/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="tag tagslist">{{ tag }}</a></li>
{% endfor %}
</ul>

<p>Did you possibly want the <a href="/blog/tags">regular blog tags</a>?</p>

<p>What about seeing <a href="/til/archive">all TIL posts</a>?</p>
