---
permalink: /til/tags/
layout: layouts/home.njk
---
<h1>Today I Learned Tags</h1>

{% for tag in collections.tilTags %}
  {% set tagUrl %}/til/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag tagslist">{{ tag }}</a>
{% endfor %}
