---
permalink: /blog/tags/
layout: layouts/page.njk
title: All Blog Tags
flexWrapperClass: wrap
---
<ul id="tagsContainer" class="flex-row">
  {% for tag in collections.tagList %}
  {% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>

<p>Did you possibly want the <a href="/til/tags">Today I Learned blog tags</a>?</p>

<p>What about <a href="/blog/archive">this blog's archive</a>?</p>
