---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

{%- for page in collections.all -%}
  {%- if page.url and page.data.redirectsFrom %}
{{ page.data.redirectsFrom }}  {{ page.url }}
  {%- endif -%}
{%- endfor -%}