---
layout: layouts/home.njk
navtitle: Blog
navorder: 0
permalink: /blog/index.html
---

<h2>My blog</h2>
<p>
My site has two blog feeds. One is a <a href="/til/">Today I Learned</a> blog, a running list of things I've learned about software development. Those posts are typically short, and limited in scope. This feed, on the other hand, is more general. You'll find posts about tech, but also about my personal life, public policy issues I'm interested in, and more. 
</p>

{% set postslist = collections.posts | head(-20) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/archive' | url }}">the archive</a>.</p>
<p>See <a href="{{ '/blog/tags/' | url }}">all tags</a>.</p>
