---
layout: layouts/base.njk
permalink: /site-colors/
---

<style>
  .test-blocks div {
    height: 50px;
    width: 50px;
    display: inline-block;
  }

  .c100 {
    background-color: var(--primary100);
  }
  .c300 {
    background-color: var(--primary300);
  }
  .c500 {
    background-color: var(--primary500);
  }

  .c700 {
    background-color: var(--primary700);
  }
  .c900 {
    background-color: var(--primary900);
  }

  .gray100 {
    background-color: var(--gray100);
  }
  .gray300 {
    background-color: var(--gray300);
  }

  .gray500 {
    background-color: var(--gray500);
  }

  .gray700 {
    background-color: var(--gray700);
  }

  .gray900 {
    background-color: var(--gray900);
  }

  .green100 {
    background-color: var(--secondary100);
  }
  .green300 {
    background-color: var(--secondary300);
  }

  .green500 {
    background-color: var(--secondary500);
  }

  .green900 {
    background-color: var(--secondary900);
  }
</style>

<div class="test-blocks">
  <div class="c900"></div>
  <div class="c700"></div>
  <div class="c500"></div>
  <div class="c300"></div>
  <div class="c100"></div>
</div>
<div class="test-blocks">
  <div class="green100"></div>
  <div class="green300"></div>
  <div class="green500"></div>
  <div class="green900"></div>
</div>

<div class="test-blocks">
  <div class="gray900"></div>
  <div class="gray700"></div>
  <div class="gray500"></div>
  <div class="gray300"></div>
  <div class="gray100"></div>
</div>
