---
layout: layouts/home.njk
title: TIL Feed
navtitle: Today I Learned
navorder: 100
permalink: '/til-hub/'
---


<h2>Things I Recently Learned</h2>
<p>
  These are short posts I wrote about things I was learning about software development, written as I learned them. They also live <a href="https://cassey-til.glitch.me">on Glitch</a>, where you'll find a slightly better browsing experience - the tags will actually take you to tag pages. Head there if, for example, you want to see <a href="https://cassey-til.glitch.me/tags/accessibility/">everything I've written about learning about accessibility</a>. 
</p>

<p>I was inspired to start this project by <a href="https://github.com/jbranchaud/til">Josh Branchaud</a>. </p> 
<br />
