---
layout: layouts/home.njk
title: TIL Feed
navtitle: Today I Learned
navorder: 100
pagination:
    data: til.posts
    size: 20
    alias: tilposts
---


<h1>20 Things I Recently Learned</h1>

{% set postslist = tilposts %}
{% include "postslist.njk" %}

<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">Today I Learned pages</h2>
  <ol>
    <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
    <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
  </ol>
</nav>