---
layout: post
title: Pandemic Memes
date: 2020-03-16
tags: [posts, coronavirus]
social_description: "Someday we'll want to remember this."
social_image: "https://cassey.dev/img/grimace-clown.jpg"
social_image_alt: "A grimacing clown emoji, from Emoji Mashup Bot"
twitter_card_style: "summary"
redirectsFrom: "/posts/2020-03-16-coronavirus-memes/"
---

**Update 2025-12-17**: removed links to Twitter. The content is a bit hard to figure out at this point so I'm removing the embeds that were there previously with markup that sorta almost makes sense without the images... Sorry future people, we may want to remember these memes but the internet is fickle that way.
<br/>

Someday, we'll want to remember this.

- `https://twitter.com/aanand/status/1237787570500755458`
- `"https://twitter.com/freedaaron/status/1237918273825574918`
- `https://twitter.com/SJKSalisbury/status/1239185697271136259?ref_src=twsrc%5Etfw`
- `https://twitter.com/gnuman1979/status/1239523796542992387`
- `https://twitter.com/ImJuneFacts/status/1239191877682855936`
- `https://twitter.com/PleaseBeGneiss/status/1239569804282843136`
- `https://twitter.com/ProBirdRights/status/1238931210610434048`
