---
layout: post
title: Pandemic Memes
date: 2020-03-16
tags: [posts, coronavirus]
social_description: "Someday we'll want to remember this."
social_image: "https://cassey.dev/img/grimace-clown.jpg"
social_image_alt: "A grimacing clown emoji, from Emoji Mashup Bot"
twitter_card_style: "summary"
redirectsFrom: "/posts/2020-03-16-coronavirus-memes/"
---

<style>
    .flex-center.column blockquote {
        max-width: 500px;
    }
</style>

{% include 'twitter.njk' %}

<div class="flex-center column">
    Someday, we'll want to remember this.

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Ah fuck, I’m so sorry everyone <a href="https://t.co/wqhL3tnx2K">pic.twitter.com/wqhL3tnx2K</a></p>&mdash; Aanand (@aanand) <a href="https://twitter.com/aanand/status/1237787570500755458?ref_src=twsrc%5Etfw">March 11, 2020</a></blockquote>

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We Didn't Start The Fire but it's just the last 24 hours</p>&mdash; Aaron Freedman🌹 (@freedaaron) <a href="https://twitter.com/freedaaron/status/1237918273825574918?ref_src=twsrc%5Etfw">March 12, 2020</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thankfully I haven&#39;t had to go out and panic buy any food as I&#39;ve been saving some plums in my icebox for this very occasion.</p>&mdash; Steven (with a ph) (@SJKSalisbury) <a href="https://twitter.com/SJKSalisbury/status/1239185697271136259?ref_src=twsrc%5Etfw">March 15, 2020</a></blockquote>

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Quarantine day 6. <a href="https://t.co/er652Oy3Ki">pic.twitter.com/er652Oy3Ki</a></p>&mdash; jamie (@gnuman1979) <a href="https://twitter.com/gnuman1979/status/1239523796542992387?ref_src=twsrc%5Etfw">March 16, 2020</a></blockquote>

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">me, buying up all the swords at my local store<br><br>me the next day, complaining to the new york times that i can’t find anyone to sell my swords to <a href="https://t.co/NEnIWcTBs1">pic.twitter.com/NEnIWcTBs1</a></p>&mdash; ✨ magical dickgirl ✨ (@ImJuneFacts) <a href="https://twitter.com/ImJuneFacts/status/1239191877682855936?ref_src=twsrc%5Etfw">March 15, 2020</a></blockquote>

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 3 of quarantine: I haven’t showered for weeks</p>&mdash; clean slate (@PleaseBeGneiss) <a href="https://twitter.com/PleaseBeGneiss/status/1239569804282843136?ref_src=twsrc%5Etfw">March 16, 2020</a></blockquote>

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">WASH FREQUENT. MANTAIN SOCIAL DISTANCE. <a href="https://t.co/3L2xPK8qOk">pic.twitter.com/3L2xPK8qOk</a></p>&mdash; birdsrightsactivist (@ProBirdRights) <a href="https://twitter.com/ProBirdRights/status/1238931210610434048?ref_src=twsrc%5Etfw">March 14, 2020</a></blockquote>

</div>
