---
layout: layouts/page.njk
---

{{ content | safe }}
<br/>
<br/>

{% include "more-tags.njk" %}

<div class="bubbles-vote"></div>
<script src="https://bubbles.town/vote.js" defer></script>
